body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "top"
        "mid"
        "bottom"
    ;

    & header {
        grid-area: top;
    }
    & main {
        grid-area: mid;
    }
    & footer {
        grid-area: bottom;
    }
}

header {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "intro"
        "mid"
    ;

    min-height: 800px;
    padding: 1em 1em;

    color: var(--colour-dark);

    & h1 {
        grid-area: intro;

        text-align: center;
        font-size: 1.4em;
        font-weight: normal;
        font-family: 'Azeret Mono', 'Courier New', Courier, monospace;

        & span {
            color: #4EC9B0; /* python type syntax highlight */
        }
        & span[lang="ga"] {
            color: var(--colour-accent); /* python string syntax highlight */
        }
        & img {
            height: 60%;
        }
    }
    & a {
        text-decoration: underline;
        color: whitesmoke;
    }

    background-color: var(--colour-light-base);
    background-image: url("img/bckg.png");
    background-repeat: no-repeat;
    background-size: 100vw 50vh;
    background-position: center bottom;
}

/* att: https://www.w3schools.com/css/css3_animations.asp */
@keyframes coding_underscore {
    from {opacity: 100%;}
    to {opacity: 0%;}
}
/* att: https://stackoverflow.com/questions/13887889/css-animation-delay-in-repeating */
@keyframes coding_underscore_hidden {
    0% {opacity: 1}
    50% {opacity: 1}
    50.1% {opacity: 0}
    100% {opacity: 0}
}

#top {
    grid-area: mid;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    & ul { /* console */
        align-self: start;
        margin-top: 150px;

        color: white;
        font-size: 0.6em;
        font-family: 'Consolas', 'Courier New', Courier, monospace;
        font-weight: normal;

        width: 30%;
        padding: 1em;

        background-color: var(--colour-dark);
        border-radius: 10px;

        & li {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-areas: 
                "caret console"
            ;

            & span:first-child {
                grid-area: caret;
                margin-right: 1em;
            }
            & span:last-child {
                grid-area: console;
            }
        }

        /* att: https://www.youtube.com/watch?v=dIUOWdwwZBw */
        & li:last-child span:last-child::after { /* typing animation at the ned of the last piece of text!! */
            content: "_";

            animation:
                coding_underscore 1ms linear infinite,
                coding_underscore_hidden 1s linear infinite;
        }
    }
}

nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 1em;

    /* & a:first-child {
        margin-left: auto;
    }
    & a:last-child {
        margin-right: 1em;
    } */
    
    & a {
        color: var(--colour-light-highlight);

        position: relative;

        font-size: 0.8em;
        text-decoration: none;

        /* att: https://www.youtube.com/watch?v=dIUOWdwwZBw */
        &::after {
            content: "";

            position: absolute;
            bottom: 0;
            left: 0;

            height: 0.1em;
            width: 0%;

            /* att: https://www.w3schools.com/css/css3_gradients.asp */
            background-image: linear-gradient(to right, var(--colour-light-highlight), var(--colour-highlight));
            
            transition: width 0.5s;
        }
        &:hover::after {
            width: 100%;
            
            transition: width 0.5s;
        }
    }
}

main {
    background-color: var(--colour-light-dark);
}