body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "top"
        "mid"
        "bottom"
    ;

    & header {
        grid-area: top;
    }
    & main {
        grid-area: mid;
    }
    & footer {
        grid-area: bottom;
    }
}

header {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "intro"
        "mid"
    ;

    min-height: 800px;
    padding: 1em 1em;

    color: var(--colour-dark);

    & h1 {
        grid-area: intro;

        text-align: center;
        font-size: 1.4em;
        font-weight: normal;
        font-family: 'Azeret Mono', 'Courier New', Courier, monospace;

        & i {
            text-decoration: none;
            font-style: normal;
            color: #4EC9B0; /* python type syntax highlight */
        }
        & i[lang="ga"] {
            color: var(--colour-accent); /* python string syntax highlight */
        }
        & img {
            height: 60%;
        }
    }
    & a {
        text-decoration: underline;
        color: whitesmoke;
    }

    background-color: var(--colour-light-base);
    background-image: url("img/bckg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
}

/* att: https://www.w3schools.com/css/css3_animations.asp */
@keyframes coding_underscore {
    0% {opacity: 1}
    49% {opacity: 1}
    50% {opacity: 0}
    100% {opacity: 0}
}

#top {
    grid-area: mid;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    & ul { /* console */
        align-self: start;
        margin-top: 150px;

        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: 
            "caret1 console1"
            "caret2 console2"
        ;

        color: white;
        font-size: 0.6em;
        font-family: 'Consolas', 'Courier New', Courier, monospace;
        font-weight: normal;

        width: 30%;
        padding: 1em;

        background-color: var(--colour-dark);
        border-radius: 10px;

        & li::marker {
            content: "";
        }
        & li:first-child {
            grid-area: caret1;
            margin-right: 1em;
        }
        & li:nth-child(2) {
            grid-area: console1;
        }
        & li:nth-child(3) {
            grid-area: caret2;
            margin-right: 1em;
        }
        & li:last-child {
            grid-area: console2;
        }

        /* att: https://www.youtube.com/watch?v=dIUOWdwwZBw */
        & li:last-child::after { /* typing animation at the ned of the last piece of text!! */
            content: "_";

            animation:
                coding_underscore 1s linear infinite;
        }
    }
}

nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
    
    & a {
        color: var(--colour-light-highlight);

        position: relative;
        padding: 0.2em 0.3em;

        font-size: 0.8em;
        text-decoration: none;

        background-color: var(--colour-pale-accent);
        border-radius: 5px;
        
        /* att: https://www.w3schools.com/cssref/css3_pr_transform.php */
        transition: transform 0.2s ease;
        &:hover {transition: transform 0.2s ease;}

        &:nth-child(odd) {
            transform: rotateZ(3deg);
            &:hover {
                transform: rotateZ(-3deg);
            }
        }
        &:nth-child(even) {
            transform: rotateZ(-3deg);
            &:hover {
                transform: rotateZ(3deg);
            }
        }
    }
}

main {
    background-color: var(--colour-light-dark);
}