body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "top"
        "mid"
        "bottom"
    ;

    background-color: var(--colour-light-dark);

    /* grid areas */
    & header {
        grid-area: top;
    }
    & main {
        grid-area: mid;
    }
    & footer {
        grid-area: bottom;
    }
}

header {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "intro"
        "mid"
    ;

    padding: 1em 1em;

    background-color: var(--colour-light-base);
    color: var(--colour-dark);

    & h1 {
        grid-area: intro;
    }
    & a {
        text-decoration: underline;
        color: whitesmoke;
    }

    background-color: var(--colour-light-base);
    background-image: url("img/bckg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
}

/* att: https://www.w3schools.com/css/css3_animations.asp */
@keyframes console_underscore {
    0% {opacity: 1}
    49% {opacity: 1}
    50% {opacity: 0}
    100% {opacity: 0}
}
#top {
    grid-area: mid;

    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    min-height: 800px;

    /* console */
    & ul {
        align-self: start;
        margin-top: 150px;

        display: grid;
        grid-template-columns: auto 1fr;

        color: white;
        font-size: 0.6em;
        font-family: var(--font-terminal);
        font-weight: normal;

        width: 30%;
        min-width: 300px;
        padding: 1em;

        background-color: var(--colour-dark);
        border-radius: 10px;

        & li::marker {
            content: "";
        }
        & li:nth-child(odd) {
            margin-right: 1em;
        }
        & span { /* typing animation at the end of the last piece of text!! */
            animation: console_underscore 1s linear infinite;
        }
    }
}

main {
    background-color: var(--colour-light-dark);

    & h1 {
        color: var(--colour-light-base);
    }
}

#intro {
    display: grid;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas:
        "title"
        "article1"
        "article2"
    ;

    margin-top: 100px;

    /* grid areas */
    & h1 {grid-area: title;}
    & article:not(:last-child) {
        grid-area: article1;
        
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas: "picture caption";

        & p {
            text-align: left;
        }
    }
    & article:last-child {
        grid-area: article2;
        
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-areas: "caption picture";

        & p {
            text-align: right;
        }
    }

    /* general article styling */
    & article {
        margin: 30px 10em;

        & p {
            grid-area: caption;
            z-index: 1;

            margin: 0 0.2em;
            transform: rotate(-2deg);

            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            color: var(--colour-light-base);
            font-size: 0.7em;
        }

        /* polaroid */
        & figure {
            grid-area: picture;

            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;

            margin: 0 0.2em;
            z-index: 2;

            background-color: var(--colour-light-base);
            border-radius: 5px 5px 0 0;

            /* zoom!! */
            transition: transform 0.1s ease;
            &:has(img:hover) {
                transform: scale(1.2);
                transition: transform 0.1s ease;
            }

            & figcaption {
                padding: 0.2em;
                
                font-family: var(--font-monospace);
                color: var(--colour-dark);
                font-size: 0.5em;
            }
            & img {
                width: 9em;
                min-width: 200px;
                height: auto;

                padding: 0.2em;
                padding-bottom: 0;

                border-bottom: var(--colour-light-dark) solid 1px;
            }
        }
    }
}