/* https://fonts.google.com/specimen/Azeret+Mono */
@font-face {
    font-family: 'Azeret Mono';
    src: url('/fonts/Azeret_Mono/AzeretMono-VariableFont_wght.ttf');
}

/* https://fonts.google.com/specimen/Asap */
@font-face {
    font-family: 'Asap';
    src: url('/fonts/Asap/Asap-VariableFont_wdth\,wght.ttf');
}

:root {
    font-size: 35px;
    font-family: 'Asap', Arial, Helvetica, sans-serif;

    /* https://colorhunt.co/palette/faf3e1f5e7c6ff6d1f222222, found highlight/secondary myself */
    --colour-dark: #222222; /* main text, pops, etc. */
    --colour-light-dark: #4B4B4A; /* transition from header to main */
    --colour-accent: #FF6D1F; /* buttons, etc. */
    --colour-base: #F5E7C6; /* header background, etc. */
    --colour-light-base: #FAF3E1; /* light background, sections/cards, etc. */
    --colour-secondary: #1F4E5F; /* rarely used probably */
    --colour-highlight: #8ABFBF; /* transition from header to main, other highlights/text */
}

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 120vh;

    background-color: var(--colour-light-base);
}