body {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "top"
        "content"
    ;

    background-color: var(--colour-dark);

    /* grid areas */
    & nav {
        grid-area: top;
    }
    & main {
        grid-area: content;
    }

    /* styling */
    & h1 {
        color: white;
        margin-bottom: 50px;
        text-align: center;
    }
}

nav {
    padding-top: 50px;
    padding-bottom: 450px;

    background-color: var(--colour-light-dark);
    background-image: url('img/bckg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;

    & a {
        color: white;
        background-color: var(--colour-highlight);
        &:hover {
            background-color: var(--colour-secondary)
        }
    }
}

main {    
    background-color: var(--colour-dark);
    background-image: url("img/pattern.png");
}

/* polaroid */
figure {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    max-width: 9.2em;

    margin: 0 0.2em;
    z-index: 2;

    background-color: var(--colour-light-base);
    border-radius: 5px 5px 0 0;

    /* zoom!! */
    transition: transform 0.1s ease;
    &:has(img:hover) {
        transform: scale(1.2);
        transition: transform 0.1s ease;
    }

    & figcaption {
        padding: 0.2em;
        
        font-family: var(--font-monospace);
        color: var(--colour-dark);
        font-size: 0.5em;
    }
    & img {
        width: 9em;
        min-width: 200px;
        height: auto;

        padding: 0.2em;
        padding-bottom: 0;

        border-bottom: var(--colour-light-dark) solid 1px;
    }
}

#hobbies {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr auto;
    grid-template-areas: 
        "title title"
        "hobbies aside"
        "experience experience"
    ;

    margin-bottom: 100px;

    /* grid areas */
    & h1 {
        grid-area: title;
    }
    & aside {
        grid-area: aside;

        display: flex;
        flex-flow: column nowrap;

        margin: 0 3em 50px 0;
    }
    & figure {
        transform: rotate(-4deg);
        transition: transform 0.1s ease;
    }
    & figure:hover {
        transform: scale(1.2);
        transition: transform 0.1s ease;
    }

    & table {
        grid-area: hobbies;

        margin: 0 3em;
        border-collapse: collapse; /* att: https://www.w3schools.com/html/html_table_borders.asp */

        color: var(--colour-light-base);
        font-family: var(--font-terminal);
        font-size: 0.8em;

        & tr {
            & th {
                font-weight: normal;
                color: var(--colour-highlight);
                border-bottom: var(--colour-secondary) dashed 3px;
            }
            & th,td {
                padding: 0.5em;
                &:not(:last-child) {
                    border-right: var(--colour-secondary) solid 3px;
                }
            }
            & a {
                color: var(--colour-highlight);
            }
        }
    }

    & #languages {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "title title"
            "header1 bar1"
            "header2 bar2"
        ;

        margin-bottom: 50px;
            
        /* grid areas */
        & h2 {grid-area: title;}
        & #english-title {grid-area: header1;}
        & #english-title+img {grid-area: bar1;}
        & #irish-title {grid-area: header2;}
        & #irish-title+img {grid-area: bar2;}

        /* styling */
        & h2 {
            color: var(--colour-light-base);
        }
        & h3 {
            color: var(--colour-highlight);
            font-weight: normal;
            font-size: 1em;
        }
        & img {
            margin: auto 0;
            height: 10px;
            margin-left: 1em;
            background-color: var(--colour-secondary);
        }
    }
}